# исключаем каталог "build" (п. 2.1.a) и все папки с таким названием (п. 2.2)
**/build/**

# п. 2.1.b - исключаем jar-файлы, кроме module2.jar;
# + это решение покрывает условие из п. 2.2: "файл module2.jar из п 2.1.b по-прежнему не должен игнорироваться"
*.jar

!/**/module2.jar

# п. 2.1.c - исключаем файл
application-local.properties

# пп. 2.1.d-e - исключаем папки .idea и .idea_copy, кроме файла workspace.xml
/.idea*/*

!.idea_copy/workspace.xml